*{
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

body {
  background: url("../images/halftone-yellow.png");
  margin: 0 auto;
  padding: 0;
  width:100%;
}

img{
  border: solid 5px blue;
  padding: 5%;
  width: 38%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
