@media only screen and (min-width: 650px){
  .top-nav ul li{
    float: right;
    padding-top: 1%;
  }

  .logo{
    float: left;
  }


}

@media only screen and (min-width: 100px){
  .top-nav ul li{
    float: right;
    padding-top: 1%;
  }

  .logo{
    float: left;
  }

  .crafts {
    display:inline;
  }


}
