@media only screen and (min-width: 650px){
ul {
  padding: 10px;
  display:inline-grid;
}

.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.blueimg, .yellowimg {

}

.square {
}
}

@media only screen and (min-width: 1000px){
  .top-nav ul li{
    float: right;
    padding-top: 1%;
  }

  .logo {
    float: left;
  }

  .photo-grid{
    grid-template-columns: 1fr 1fr;
    display: grid;
  }

  .blueimg, .yellowimg{

  }
}
