
@media only screen and (min-width: 650px){
.top-nav ul{
  position: absolute;
  right: 0;
  top: 5%;
  }

.top-nav ul li{
  display: inline-block;
}

.vertical{
  width: 47%;
  display: inline-block;
}

  .logo {
    text-align: left;
  }
}


@media only screen and (min-width: 1000px){
  #vertical {
      display: inline-block;
  }

  .top-nav ul li{
    display: inline-block;
  }

  .top-nav{
    align-items: center;
  }

  .photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display:grid;
  }

  .black, .light-blue {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .maroon, .green, .red {
    grid-column: 3 / span 2;
  }

  .yellow{
    grid-column: 1/2;
  }

  .blue {
    grid-column: 2/3;
  }
}
